:root {
  --page-bg-color: #1f2041;
  --white-letters: #fff;
  --greyish-letters: #adb6c4;
  --error: #af0808;
  --golden: #d4af37;
  --border: #f9f9f9;
  --size16: 16px;
  --size20: 20px;
  --size27: 27px;
  --size32: 32px;
  --size36: 36px;
  --size96: 96px;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: var(--page-bg-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header,
footer {
  color: var(--white-letters);
}
header {
  padding: 37px 120px 90px;
}
.main-wrapper {
  display: flex;
  justify-content: center;
  background-color: white;
  flex: 1;
  width: 100%;
}
main {
  background-color: var(--white-letters);
  max-width: 1920px;
  width: 100%;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 60px 120px 110px;
  align-items: center;
}
footer > nav div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
nav {
  display: flex;
}
.nav-btn {
  background: none;
  border: none;
}
.burger-menu {
  display: none;
}
span {
  color: var(--golden);
}
.grey {
  color: var(--greyish-letters);
}

.burger-menu button {
  border: none;
  background-image: url("/img/burger.png");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}
.burger-img {
  filter: brightness(0) saturate(100%) invert(75%) sepia(84%) saturate(724%)
    hue-rotate(1deg) brightness(96%) contrast(95%);
}
.about-me {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.about-me h1,
.about-me h3 {
  margin: 0;
}
.about-me h1 {
  transform: scaleY(1.5);
  display: inline-block;
}
.about-me > h1 span,
.about-me > h3 span {
  color: white;
}
h4 {
  font-weight: bold;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
img {
  width: 100%;
}
button {
  color: var(--white-letters);
  cursor: pointer;
}
.active {
  color: var(--greyish-letters);
}
.blocked {
  overflow: hidden;
}
.port-low {
  display: none;
  color: var(--golden);
}
.burger-nav {
  display: none;
}
.lower-weight {
  font-weight: 400;
}
