:root {
  --page-bg-color: #1f2041;
  --white-letters: #fff;
  --greyish-letters: #adb6c4;
  --size16: 16px;
  --size20: 20px;
  --size27: 27px;
  --size32: 32px;
  --size36: 36px;
  --size96: 96px;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: var(--page-bg-color);
}
header,
footer {
  color: var(--white-letters);
}
header {
  padding: 37px 120px 90px;
}
main {
  /* padding: 84px 139px; */
  background-color: var(--white-letters);
}

header div,
footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
}
.nav-btn {
  background: none;
  border: none;
}
footer > div > nav div {
  flex-direction: column;
  margin: 60px 0px 110px 120px;
  gap: 30px;
}
header > div nav {
  /* display: none; */
}
.about-me {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.about-me h1,
.about-me h3 {
  margin: 0;
}
.about-me h1 {
  transform: scaleY(1.5);
  display: inline-block;
}
h4 {
  font-weight: bold;
}
.contact {
  display: flex;
  flex-direction: column;
  margin: 176px 120px 60px 0px;
  align-items: flex-start;
}
img {
  width: 100%;
}
button {
  color: var(--white-letters);
  cursor: pointer;
}
.burgerBtn {
  background: none;
  border: none;
  display: none;
}
.active {
  color: var(--greyish-letters);
}
