.my-skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 55px;
  row-gap: 30px;
  justify-items: center;
}
.dots {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border: 1px solid var(--page-bg-color);
  border-radius: 50%;
  margin-top: 5px;
}
.dot-skill {
  background-color: var(--page-bg-color);
}
.expierience {
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: fit-content;
  width: 100%;
}
.expierience-amount {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.language-icon {
  width: 56px;
  height: 64px;
  flex-shrink: 0;
}
.language-expierience {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.language-expierience h4,
.language-expierience p {
  margin: 0;
  font-weight: 400;
}
.language-expierience h4 {
  color: var(--page-bg-color);
  font-size: 16px;
}
.language-expierience p {
  font-size: 16px;
  color: var(--greyish-letters);
}
.about-me-section {
  padding: 65px 0px 40px;
}
.skills-section,
.my-info-page,
.contact-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-me {
  padding: 65px 120px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  flex: 1;
}
.contact-me > div h2 {
  color: var(--page-bg-color);
}
.my-info-page {
  gap: 65px;
  align-items: center;
  width: 100%;
}
.skills-section {
  padding: 84px 241px 0px;
}
.skills-display {
  width: 100%;
}
.skills-display h3,
.about-me-section h3,
.my-description h3 {
  margin-bottom: 17px;
  font-size: 32px;
  font-weight: bold;
  color: var(--page-bg-color);
}
.my-description p {
  color: var(--page-bg-color);
}
.project-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 41px;
  padding: 84px 139px 0px;
}
.project-page {
  background-image: url("/img/2ee89116d5300e821d6701a7d7c7efdd.jpg");
  background-size: cover;
  background-position: 0% 80%;
  border-radius: 16px;
  height: 460px;
  width: 100%;
  max-width: 360px;
  color: white;
  position: relative;
  padding-top: 18px;
}
.project-page h4,
.project-page ul {
  margin-left: 30px;
}
.project-page ul {
  padding-left: 24px;
}
.project-page > ul li {
  margin-top: 20px;
}
.img-container {
  width: 100%;
}
.main-img {
  min-width: 320px;
}
.img-container2 {
  display: none;
}
.change-page {
  display: flex;
  justify-content: center;
  gap: 55px;
  padding: 84px 0px;
}
.change-page button {
  width: 60px;
  height: 60px;
  background-color: #adb6c4;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
.change-page button:active {
  background-color: #969fac;
}
.arrows-up-down {
  display: none;
}
.add-projectBtn {
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: var(--greyish-letters);
  color: var(--page-bg-color);
  padding: 15px 49px;
  border: none;
  border-radius: 8px;
  width: 240px;
  height: 60px;
  font-size: 16px;
}
.add-projectBtn span {
  font-size: 20px;
  color: var(--page-bg-color);
}
.addBtn-container {
  display: flex;
  justify-content: center;
  padding-top: 84px;
}
.trashBtn {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  right: 8px;
  bottom: 8px;
}
.trash-img {
  width: 21px;
  height: 21px;
  margin-top: 5px;
}
.project-layout {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 41px;
  row-gap: 84px;
  padding: 84px 139px 84px;
  justify-items: center;
}
.contact-me-arrow {
  width: 30px;
  height: 21px;
}
.continue {
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--page-bg-color);
  background-color: var(--greyish-letters);
  padding: 15px 49px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  max-width: 240px;
  font-size: 16px;
}
.my-description,
.messages-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.messages-container {
  gap: 65px;
  padding: 65px 120px;
}
.input-directions,
.input-directions2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 70px;
}
.put-text {
  flex: 1;
  color: var(--page-bg-color);
}
.put-text h3 {
  font-size: 16px;
  color: var(--page-bg-color);
}
.modal-wrapper {
  position: fixed;
  top: 50px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  inset: 0;
  z-index: 100;
  backdrop-filter: blur(8px);
}
.modal-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40%;
  padding: 60px 124px 64px;
  background-color: #f9f9f9;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.modal-layout div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.input-text,
.modal-input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--page-bg-color);
  background: none;
}
.input-text:focus,
.modal-input:focus {
  outline: none;
}
.error-type {
  border-color: var(--error);
}
.red {
  opacity: 0;
  color: var(--error);
  margin-top: 5px;
  font-size: 12px;
}
.close-btn {
  position: absolute;
  top: 0px;
  right: 10px;
  border: none;
  background: none;
  width: 24px;
  height: 24px;
}
.close-btn img {
  width: 24px;
  height: 24px;
}
.send-messageBtn {
  padding: 15px 49px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  background-color: var(--greyish-letters);
  color: var(--page-bg-color);
}
.displayed-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-wrap: wrap;
  font-weight: bold;
  color: var(--page-bg-color);
}
.addBtn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-projects {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  text-wrap: wrap;
  text-align: center;
}
.about-me-wrapper {
  display: flex;
  padding: 84px 241px;
  width: 100%;
}
@media (min-width: 1920px) {
  header,
  main,
  footer {
    max-width: 1920px;
    margin: 0 auto;
  }
  header,
  footer {
    width: 100%;
  }
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .contact-me {
    flex: 1;
  }
}
@media (max-width: 1520px) {
  .my-skills {
    grid-template-columns: repeat(3, 1fr);
  }
  .my-skills,
  .project-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1300px) {
}
@media (max-width: 1024px) {
  header {
    padding: 16px 60px 60px;
  }
  .project-layout {
    padding: 84px 70px 84px;
  }
}
@media (max-width: 768px) {
  footer {
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  header {
    padding: 10px 16px;
    height: 500px;
  }
  footer > nav div {
    display: none;
  }
  .about-me {
    padding: 57px 16px;
    gap: 16px;
    text-wrap: wrap;
    align-items: center;
  }
  .nav-section {
    padding-bottom: 57px;
  }
  .about-me h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-container,
  .burger-nav {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
  .about-me-wrapper,
  .contact-me,
  .messages-container {
    padding: 84px 16px;
  }
  .skills-section {
    padding: 84px 16px 0px;
  }
  .project-section {
    padding: 0px 16px;
  }
  .contact {
    padding: 60px 18px;
  }
  .second-one {
    padding-top: 0;
  }
  .input-directions {
    flex-direction: column;
    gap: 40px;
  }
  .input-directions2 {
    margin-top: 30px;
  }
  .modal-layout {
    padding: 40px 10px;
    width: 90%;
  }
  .my-skills {
    grid-template-columns: repeat(1, 1fr);
    width: fit-content;
  }
  .skills-display {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills-display h3 {
    align-self: flex-start;
  }
  .project-section {
    flex-direction: column;
  }
  .img-container {
    display: none;
  }
  .img-container2 {
    display: block;
    min-width: 320px;
    height: auto;
    padding: 8px;
  }
  .port-high {
    display: none;
  }
  .port-low {
    display: block;
  }
  .arrows-up-down {
    display: flex;
    padding: 84px 0 84px;
  }
  .arrows-left-right {
    display: none;
  }
  .project-layout {
    grid-template-columns: repeat(1, 1fr);
    gap: 41px;
    padding: 84px 16px;
  }
  .burger-nav {
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    background-color: var(--page-bg-color);
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
  }
  .burger-buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 28px 37px;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
  }
  .about-me h3 {
    text-align: center;
  }
  .lower-weight {
    margin-top: 20px;
  }
  .change-page {
    padding: 84px 0px;
  }
}
