/* header,
footer {
}
main {
} */

header div,
footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
}
.nav-btn {
  background: none;
  border: none;
}
footer > div nav {
  flex-direction: column;
}
.about-me {
  display: flex;
  flex-direction: column;
}
.contact {
  display: flex;
  flex-direction: column;
}
img {
  width: 100%;
}
